.DS_Store
Thumbs.db
desktop.ini
Desktop.ini
*.swp

*.exe
*.out
*.app

/bin
/pkg
/vendor

/.cache
/.terraform

*.code-workspace
*.iml

*.log
*.log.*
*.tmp

bin/
*.dll
*.p1
*.p2
*.p3
*.json
*.pxf
*.pem

.idea
